#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

/* Table header styles */
.ant-table-thead > tr > th {
  background-color: #4a90e2;  /* Blue background for headers */
  color: #fff;  /* White text color */
}

/* Table row and cell styles */
.ant-table-tbody > tr > td {
  background-color: #f0f4f7;  /* Light grey background for table cells */
}

/* Hover effect for table rows */
.ant-table-tbody > tr:hover > td {
  background-color: #d9e4ea;  /* A slightly different grey for hover */
}

/* Border color for table and cells */
.ant-table,
.ant-table-bordered .ant-table-cell {
  border-color: #c0c0c0;  /* Grey border color */
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #d57676;
}
